<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Wordcloud - labdo.it</title>
    <meta name="description" content="Gerador de nuvens de palavras"/>
    <meta name="keywords" content="nuvem, de, palavras, gerador, wikipedia, wordcloud, labdo.it" />
    <link rel="icon" type="image/png" href="static/images/wordcloud-webapp.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container" style="margin-top:55px">
        
        {% if imagem_nuvem %}
        <div class="row justify-content-center align-items-center">
            <div class="col-12'">
                <img src="{{ imagem_nuvem }}" alt="" class="img-fluid">
            </div>
        </div>
        {% endif %}
        {% if imagem_nuvem %}
        <div class="row justify-content-center align-items-center" style="margin-top: 8px;">
            <div class="col-12'">
                <a href="https://wa.me/?text=Veja a nuvem de palavras que gerei: https://wordcloud.labdo.it/show?n={{ wordcloud_png }}" target="_blank" class="text-decoration-none">
                    <button type="button" class="btn btn-success">Compartilhar</button>
                </a>
                <a href="/" class="text-decoration-none">
                    <button type="button" class="btn btn-info">Nova busca</button>
                </a>
                <a href="{{ imagem_nuvem }}" class="text-decoration-none" download>
                    <button type="button" class="btn btn-link">Baixar</button>
                </a>
            </div>
        </div>
        {% endif %}

        <div class="row justify-content-center align-items-center" style="margin-top: 55px;">
            <div class="media" style="padding-left: 11px;">
                <img width="89px" src="static/images/wordcloud-webapp.png" alt="WordCloud-WebApp">
                <div class="media-body" style="padding-left: 23px;">
                    <h2 class="">WordCloud</h2>
                    <p>Nuvens de palavras de forma simples e rápida a partir da Wikipedia</p>
                </div>
            </div>

        </div>

    </div>

    <div class="fixed-bottom border text-center">
        <p>Feito com &hearts; no <a href="https://labdo.it" target="_blank">labdo.it</a></p>
    </div>

</body>

</html>